.container {
  width: 100%;
  overflow: hidden;
  /* overflow: hidden; */
}

.content {
  width: 500%;
  transition: all 1s;
}

.content .content-item {
  width: 20%;
  float: left;
}

.content .recommend .banner {
  width: 100%;
  height: 17.8rem;
}

.content .recommend .banner a {
  width: 100%;
  height: 100%;
  display: block;
}

.content .recommend .banner a img {
  width: 100%;
  height: 100%;
  display: block;
}

.content .recommend .promotion {
  width: 100%;
  padding: 0.75rem 1.05rem 0;
  box-sizing: border-box;
}

.content .recommend .promotion p.title {
  font-size: 1.3rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #454343;
}

.content .recommend .promotion p.title a {
  float: right;
  font-size: 1rem;
  color: #a6a6a6;
}
.content .recommend .promotion p.title a i {
  font-size: 1rem;
  margin-left: 0.2rem;
}

.content .recommend .promotion p.title::before {
  content: '|';
  font-weight: bolder;
  font-size: 1.6rem;
  color: #810015;
  margin-right: 0.2rem;
}